/* COLORES CV VERSION 1:
MAGENTA: #E01E5A
GRIS CLARO: #CCCCCC
NEGRO: #000000
BLANCO: #FFFFFF
*/

*{
  padding: 0;
  margin: 0;
}

html, body, .block{
  height: 100%;
}

.nav-bar-top{
  background-color: #E01E5A;
}

/* ESTILOS PRIMERA SECCION: INTRO CON TYPED-TEXT */

#gitbash_window{
  background-position: center;
  position: relative;
}

.intro{
  background-image: url("../images/digital_background_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

#typed-strings{
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  /* padding: 0 20%; */
  color: white /* (o verde paleta portafolio) #00cc66 */;
  text-align: center;
  position: absolute;
}


h1, h3{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: bold;
}

h1{
  color: #E01E5A;
  font-size: 5em;
  position: absolute;
}

h3{
  color: #00cc66;
  font-size: 3em;
}

/* imagen en parallax (no se si poner aun...)
.parallax-container {
  height: 80%;
} */

/* SEGUNDA SECCION: ABOUT ME */
.about-me, .projects{
  background-color: #adadad;
}

#profile_temp{
  padding: 10% 20%;
}

h3.short-bio{
  color: #E01E5A;
  font-weight: bold;
  padding: 2%;
  text-align: center;
}

p.short-bio{
  padding: 2%;
}

.skills{
  background-color: #000000;
}

i{
  font-size: 4em;
  text-align: center;
}

.extra-icons{
  width: 60%;
}

h2, h4, h5{
  color: #E01E5A;
  text-align: center;
}

.devicons{
  color: #E01E5A;
  margin: 20%;
}

.contact-me{
  background-color: #E01E5A;
}

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

/* ESTILOS FOOTER */

footer, .page-footer{
  background-color: #000000;
  padding: 1.5% 0;
}
footer p{
  text-align: center;
}
